body{ 
	font-family: sans-serif;
	margin: 0;
	}

header{
	background: url('../img/dbbanner.png');
	background-size: 100%;
	text-align: center;
	font-size: 10em;
	color: #FF6B22;
	font-family: 'Titillium Web','Raleway', sans-serif;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

h1,h2,h3{
	font-family: 'Titillium Web','Raleway', sans-serif;
}

header span
{
	color: white;
	font-size: 0.5em;
	letter-spacing: -0.05em;
	vertical-align: middle;
}

article{
	width: 90%;
	margin: 0 auto;
}

ol li{
	padding-bottom: 5px;
}

table{
	margin: 5px 0;
}

.button{
	display: block;
	min-width: 100%;
	font-size: 1.4em;
	padding:20px 50px;
	text-align: left;
}

.button:hover{ 
	cursor:pointer;
	background: #ccc;
}


.subheader{
	padding: 10px 50px;
	text-align: left;
	color: white;
	font-weight: 300;
	font-size: 2.2em;
	background: #060811;
}

.query{
	margin: 10px 50px;
}

form{
	display: inline;
}

.breadcrumb{
	background: none;
	border: none;
	color: white;
	font-weight: 300;
	font-size: 1em;
}

.breadcrumb:hover{
	cursor: pointer;
	color: #eee;
}

input:focus {outline:none !important;}

