html{height: 100%;}
body{  margin: 0; font-family: sans-serif; height: 100%;}

nav {  padding:10px; background: #333; border-bottom: 12px solid #F06529;} 
nav a{ padding: 5px 10px 1px; display: inline-block; color: white; text-decoration: none;margin-right:5px; border-radius: 2px;}
nav a:hover{ background: #444;}

#index{ height: 100%; background: url("../img/coders.jpg"); background-size: 100%; text-align: center; color: white;}
#index{ padding-top: 200px; font-size: 200px; }
#index h1{ margin-top: 0; margin-bottom: 30px; font-weight: 300; font-size: 100px; 
	font-family: 'Montserrat', sans-serif; letter-spacing: -5px;}
#index h2{ padding-bottom: 400px; font-size: 24px; 
	font-family: 'Montserrat', sans-serif; font-weight: 300;}

section h2 { margin-top: 0;}
.active{ text-decoration: underline;}

article{ width: 1200px; margin: 0 auto;}
article h1{ margin: 50px 0 30px;}
article h2{ margin-top: 50px;}
article h3{ margin-top: 35px;}
article img{ width: 800px; display: block; margin: 0 auto;}

article iframe{ width: 1200px; height:1000px;display: block; margin: 0 auto; overflow: hidden;
		-ms-zoom: 0.7;
        -moz-transform: scale(0.68);
        -o-transform: scale(0.68);
        -webkit-transform: scale(0.68);
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        -webkit-transform-origin: 50% 0;
        }
 .wrap{ height: 700px; overflow: hidden;}

.orange{ color: #F06529;}
.darkorange{ color: #E34C26;}

.tip{
	padding: 0;
	border: 1px solid #777;
	background: #eee;
	margin-bottom: 10px;
	border-radius: 5px; 
}
.tip h4{margin-top: 5px; color: #F06529; background: #333; margin: 0; padding: 3px;  }
.tip p{ padding: 0 5px; }

.uppg{ font-weight: bold; color:#F06529; display: block; padding: 30px 0 0;}

.bash .de1,.bash .de2{font:normal normal 1em/1.2em monospace;margin:0;padding:0;background:none;vertical-align:top;}
 .bash{font-family:monospace; background: #eee; padding: 10px; }
 .bash .imp{font-weight:bold;color:red;}.bash li,.bash .li1{font-weight:normal;vertical-align:top;}.bash 
 .ln{width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}.bash .li2{font-weight:bold;vertical-align:top;}
 .bash .kw1{color:#000;font-weight:bold;}.bash .kw2{color:black;font-weight:bolder;}.bash .kw3{color:#7a0874;font-weight:bold;}
 .bash .co0{color:#666;font-style:italic;}.bash .co1{color:#800000;}.bash .co2{color:#c00;font-style:italic;}
 .bash .co3{color:#000;font-weight:bold;}.bash .co4{color:#666;}.bash .es1{color:#009;font-weight:bold;}
 .bash .es2{color:#007800;}.bash .es3{color:#007800;}.bash .es4{color:#007800;}.bash .es5{color:#780078;}
 .bash .es_h{color:#009;font-weight:bold;}.bash .br0{color:#7a0874;font-weight:bold;}.bash .sy0{color:#000;font-weight:bold;}
 .bash .st0{color:#f00;}.bash .st_h{color:#f00;}.bash .nu0{color:#000;}.bash .re0{color:#007800;}.bash .re1{color:#007800;}
 .bash .re2{color:#007800;}.bash .re4{color:#007800;}.bash .re5{color:#603;}.bash .ln-xtra,.bash li.ln-xtra,
 .bash div.ln-xtra{background-color:#ffc;}.bash span.xtra{display:block;}.bash .sc2{color:#333; font-weight: bold;}
.bash a{text-decoration: none;}


 .sql.geshi .de1,.sql.geshi .de2{font:normal normal 1em/1.2em monospace;margin:0;padding:0;background:none;vertical-align:top;}
 .sql.geshi{font-family:monospace;}.sql.geshi .imp{font-weight:bold;color:red;}
 .sql.geshi li,.sql.geshi .li1{font-weight:normal;vertical-align:top;}
 .sql.geshi .ln{width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
 .sql.geshi .li2{font-weight:bold;vertical-align:top;}.sql.geshi .kw1{color:#933;font-weight:bold;}
 .sql.geshi .co1{color:#808080;font-style:italic;}.sql.geshi .coMULTI{color:#808080;font-style:italic;}
 .sql.geshi .es0{color:#009;font-weight:bold;}.sql.geshi .br0{color:#6c6;}
 .sql.geshi .sy0{color:#6c6;}.sql.geshi .st0{color:#f00;}.sql.geshi .nu0{color:#c6c;}
 .sql.geshi .ln-xtra,.sql.geshi li.ln-xtra,.sql.geshi div.ln-xtra{background-color:#ffc;}
 .sql.geshi span.xtra{display:block;}

