#login{
  width: 80%;
  margin: 10px auto;
  padding-bottom: 30px;
}

#login  input{ 
    font-size: 18px;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 3px;
}

#login input[type="submit"]
{
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 12px;
    background: #222;
    background: #444;
    color: #eee;
}

#login form p.right{
    width: auto !important;
    margin: 60px;
    padding: 10px;
    background: #7A8EAB;
    color: rgb(0, 0, 73);
    border: 1px solid rgb(98, 98, 98);
    border-radius: 3px;
}

